*{
    margin: 0;
    padding: 0;
    /*background-color: rgb(221, 221, 220); */
    font-family: 'Roboto',sans-serif;
    align-content: center;
    background-image: url("images.png"); 
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.first_all{
    width: 90%;
    margin: auto;
}

.second_navbar{
    margin: 20px auto;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.second_navbar ul{
    flex: 1;
    text-align: right;     
}

.second_navbar ul li{ /*edo*/
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    position: relative;
}

.second_navbar ul li a{
    font-size: 19px;
    font-weight:bolder;
    text-decoration: none;
    color:black;
    padding: 0 18px;
    position: relative;  
}

.second_navbar ul li ul{ /*new*/
    display: block;
    position:absolute;
    text-align: left;
    margin-top: 20px;
    background-color: none;
}

.second_navbar ul li:hover ul{ /*new*/
    display: block;
}

.second_navbar ul li ul li a{ /*new*/
    padding: 0px 25px;
}


.second_navbar ul li a::after{
    content: ' ';
    width:0;
    height:10px;
    background: rgb(163, 3, 3);
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top: -230%;
    transition: 1.0s;
}

.second_navbar ul li a:hover:after{
    width: 90%;
    background-color:rgba(255, 255, 255, 0);
}

.navbar_icons img{
    height: 18px;
    width: 23px;
    margin-left: 30px;
    margin-right: 40px;
    cursor: pointer;
}

.navbar_icons{
    margin-left:0px;
}

.ban{
    display: flex;
    margin-top: 0px;
}

.lcolumn, .rcolumn{
    flex-basis: 90%;
}

.rcolumn img{
    width: 100%;
}


.search{
    width: 195px;
    display:flex;
    padding: 3px;
    border: 2px solid rgba(158, 155, 155); /*new opacity=1*/
    margin-bottom: 30px;
} 
/*
.search img{
    height: 23px;
    width:23px;
    cursor:pointer;

}

.search input{
    width: 100%;
    margin-left: 15px;
    font-size:17px;
    border: 0px;
    outline: none;
}*/

.lcolumn h1{
    font-size: 45px;
}

.lcolumn h3{
    font-size: 30px;
}

span{
    color: rgb(97, 96, 96);
}

spanun{
    color:  rgb(163, 3, 3);
}

.lcolumn p{
    font-size: 18px;
    color:black;
    margin: 50px 0;
}

.buttons button{
    padding:7px 30px;
    margin-right: 15px;
    outline: none;
    border: 2px solid rgb(158, 155, 155);
    border-radius: 20px;
    cursor: pointer;
    color:black;
    background: transparent;
}

.buttons .primier{
    background: linear-gradient(rgb(136, 3, 3),rgb(136, 3, 3));
   /* box-shadow: 0 2px 15px rgb(97, 96, 96) ;*/
    color: rgb(221, 220, 220); 
}

.buttons{
    margin-bottom: 50px;
}

.social{
    width: 10px;
    text-align: center;
}

.social img{
    height: 30px;
    margin: 10px 20px;
}

a:hover{
    color:black;
}

a:active{
    color:rgb(158, 155, 155);
}

.buttons .primier:hover{
    color: black;
}

.buttons .primier:active{
    color: rgb(158, 155, 155);
}



/*drop down menu
.first_all ul li:hover .dropdownmenu


.dropdownmenu{
    display:none;
}

.dropdownmenu ul li:hover {
    display:block ;
    position: absolute;
    background: rgb(163, 3, 3);
    margin-top: 10px;
    margin-left: 15px;
    
}


.dropdownmenu ul li:hover ul{
    display:block ;
    margin: 5px;
}

.dropdownmenu ul li:hover ul li{
    width:150px;
    padding:10px;
    border-bottom: 2px dotted rgb(163, 3, 3);
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.dropdownmenu ul li:hover ul li:last-child{
    border-bottom: none;

}
/*
.dropdownmenu ul li:hover{
    color:grey;
}

.dropdownmenu ul ul{
    display:none;
}
.dropdownmenu ul li:hover > ul{
    display: block;
}

.dropdownmenu ul ul ul{
    margin-left: 170px;
    top: 0;
    position: absolute;
}

.dropdownmenu ul{
   
    list-style:none;
}

.dropdownmenu ul li{
    
    text-align: center;
}
*/

.labels{
    font-size: 20px;
    height: 140px ;
    width: 250px;
    float: left;
    line-height: 40px;
   /* background: rgb(158, 155, 155,0.8);*/
}
.inputs{
    height: 140px ;
    width: 150px;
    float: left;
    line-height: 39px;
   /* background: rgb(158, 155, 155,0.8);*/
    
}

.form{
    height: 180px ;
    width: 400px;
    margin:0px auto;
    /*position: relative;*/
    top: 100px;
    float: left;
    /*
    background: rgb(158, 155, 155,0.8);
    border: 1px solid;
    border-radius: 10px;
    */
}